name: Lint

on:
  push:
    branches: [ "main", "master", "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch: # Allows manual triggering

jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode (latest)
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Install SwiftLint
        run: |
          brew install swiftlint

      - name: Run SwiftLint
        run: |
          swiftlint lint --strict

