name: Lint

on:
  push:
    branches: [ "main", "master", "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode (latest)
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Run SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict

